<h1>Usuarios</h1>
<div class="info"></div>
<div class="table-responsive">
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Usuario</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>E-mail</th>
				<th>Creado por</th>
				<th>Creado el</th>
				<th>Modificado el</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>