/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F8F7ED;
  color: #423A33;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #050505;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}

#wrap > .container-fluid {
  padding: 60px 15px 0;
}

.container-fluid {
  width: 100%;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}